# Main backend
MAIN_BACKEND_APP_NAME=InsureFlow Main Backend
MAIN_BACKEND_MONGODB_URL=mongodb://localhost:27017/
MAIN_BACKEND_DATABASE_NAME=Insure_floww
MAIN_BACKEND_SERVER_HOST=127.0.0.1
MAIN_BACKEND_SERVER_PORT=8000
MAIN_BACKEND_DEBUG=true
MAIN_BACKEND_JWT_SECRET_KEY=change-this-main-backend-jwt-secret
MAIN_BACKEND_JWT_ALGORITHM=HS256
MAIN_BACKEND_JWT_ACCESS_TOKEN_EXPIRE_MINUTES=60
MAIN_BACKEND_ADMIN_EMAIL=admin@insurefloww.com
MAIN_BACKEND_ADMIN_PASSWORD=Admin@12345
MAIN_BACKEND_ADMIN_OTP_CODE=123456
MAIN_BACKEND_CUSTOMER_OTP_EXPIRY_MINUTES=10
MAIN_BACKEND_CUSTOMER_OTP_LENGTH=6
MAIN_BACKEND_PROVIDER_PAYMENT_CREATE_URL=http://127.0.0.1:8001/api/v1/provider/payments/create
MAIN_BACKEND_PROVIDER_QUOTE_GENERATE_URL=http://127.0.0.1:8001/api/v1/provider/quotes/generate
MAIN_BACKEND_PROVIDER_REQUEST_TIMEOUT_SECONDS=10
MAIN_BACKEND_INTEGRATION_BROKER_CODE=MAINAPP
MAIN_BACKEND_INTEGRATION_BROKER_API_KEY=mainapp_dev_api_key
MAIN_BACKEND_INTEGRATION_PROVIDER_CODE=DEMO_PROVIDER

# Provider backend
PROVIDER_BACKEND_APP_NAME=InsureFlow Provider Backend
PROVIDER_BACKEND_MONGODB_URL=mongodb://localhost:27017/
PROVIDER_BACKEND_DATABASE_NAME=Insure_floww
PROVIDER_BACKEND_SERVER_HOST=127.0.0.1
PROVIDER_BACKEND_SERVER_PORT=8001
PROVIDER_BACKEND_DEBUG=true
PROVIDER_BACKEND_JWT_SECRET_KEY=change-this-provider-backend-jwt-secret
PROVIDER_BACKEND_JWT_ALGORITHM=HS256
PROVIDER_BACKEND_JWT_ACCESS_TOKEN_EXPIRE_MINUTES=60
PROVIDER_BACKEND_PROVIDER_ADMIN_EMAIL=provider-admin@insurefloww.com
PROVIDER_BACKEND_PROVIDER_ADMIN_PASSWORD=Provider@12345
PROVIDER_BACKEND_MOCK_PAYMENT_BASE_URL=http://localhost:8001/mock-razorpay/pay
PROVIDER_BACKEND_MAIN_BACKEND_SYNC_URL=http://127.0.0.1:8000/api/v1/provider-sync/webhook
PROVIDER_BACKEND_SYNC_TIMEOUT_SECONDS=10
PROVIDER_BACKEND_SYNC_MAX_RETRIES=5
PROVIDER_BACKEND_SYNC_RETRY_DELAY_SECONDS=300
PROVIDER_BACKEND_INTEGRATION_BROKER_CODE=MAINAPP
PROVIDER_BACKEND_INTEGRATION_BROKER_API_KEY=mainapp_dev_api_key
